@page
@model Minuta.App.Pages.ListarVehiculosModel
@{
}
<h3>Listado de Vehiculos</h3>
<div class="container">
<table class="table table-warning table-striped table-hover table-borderless">
    <thead>
    	<tr>
      		<th scope="col">ID</th>
            <th scope="col">Tipo de Vehiculo</th>
      		<th scope="col">Placa Vehiculo</th>
    	</tr>
  	</thead>
    @foreach (var vehiculo in Model.listaVehiculo)
    {
        <tbody class="table-group-divider table-striped table-hover">
        <tr>
            <td>@vehiculo.vehiculoID</td>
            <td>@vehiculo.tipoVehiculo</td>
            <td>@vehiculo.placaVehiculo</td>
            @*
             <td>
                <a asp-page="./DetallesVisitors" asp-route-visitorId="@visitor.ID" Class="bi-eye-fill h3 text-warning text-hover"></a>
            </td>
            *@
        </tr>
        </tbody>
    }
</table>
</div>
<a class = "btn btn-warning table-btn" asp-page="./EditarVehiculos" class="btn-default">Adicionar un Vehiculo</a>